#calculate{
  margin-top: 500px;

}

h2{
  margin-left: 20%;
  margin-top: 10%;
  font-size: 60px;
  font-weight:lighter;
  font-variant: small-caps;
}

#plateTable{
  margin-left: 190px;
  margin-top: 180px;
  width:70%;
  padding: 1%;
  text-align: center;

}

table,tr,td{
  padding: 20px;
}

.newItem{
    width: 10%;
}

td>button{
  border: none;
  background-color: #2fa711;
  width:50px;
  font-size: 1.5em;
  box-shadow: 0px 1px 3px 0.5px black ;
  color:white;
  font-family: 'Poppins', sans-serif;
  outline:none;

}

button.removeItem{
  border-radius: 0%;
  border: none;
  background-color: #2fa711;
  font-size: 1.1em;
  width: 100%;
  height: 40px;
  box-shadow: 0px 1px 3px 0.5px black ;
  color:white;
  outline:none;

}

button:hover{
  cursor: pointer;
  box-shadow: none;
  background-color: rgb(55, 194, 62);
  outline:none;
}

h3{
  margin-top: -30%;
  margin-left: 20%;
}
